<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darshancomputing.BatteryIndicatorPro.IconPluginV1.BlackSquare"
    android:sharedUserId="com.darshancomputing.BatteryIndicatorPro"
    android:versionCode="8"
    android:versionName="1.0.3"
>
  <application
      android:label="@string/app_label"
      android:process="com.darshancomputing.BatteryIndicatorPro"
  >
    <service android:name=".PluginService" />
  </application>

  <uses-sdk
      android:minSdkVersion="3"
      android:targetSdkVersion="11"
  />

  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:anyDensity="true"
  />
</manifest>
