<%= name %> is meant for black status bars.  It's a big, white number
that is especially useful on Android 3.0+ devices where status bar
icons are dimmed.  It shows a lightning bolt under the number while charging.