<%= name %> is the default icon set for Honeycomb and up, where 
the status bar is usually black and the icons are usually shrunk and dimmed.

It optionally shows a lightning bolt under the number while charging.

A typical icon looks like this: <%= icon 'default050' %>

And a charging one like this: <%= icon 'charging050' %>