<%= name %> is very similar to BlackSquare, but it doesn't show a
lightning bolt under the number while charging.  If you don't care
about having the charging status indicated, then you might find that
the circle looks nicer than the square when you pull down the
notification tray.

Example icon: <%= icon 'default050' %>